<nav>
  <div class="site-title">
    <a href="/"><h1>AwaBlog</h1></a>
    <p>Welcome to Awablog</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
